#faq .container {
   padding:100px 0;
}
.faq .col-md-5 h3 {
  color: #000;
  font-family: Helvetica;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
.faq .col-md-5 p {
  color: #000;
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
}
.accordion-item {
  border-radius: 0.25rem;
  border: 1px solid #d4d4d4;
}
.faq .col-md-7 h6,
.faq .col-md-7 p {
  color: #000;
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem;
}