#header {
  background-color: #f1f3ff;
  position: fixed;
}
#header .container {
  padding: 25px 0px;
  justify-content: space-around;
}
#header .logo {
  width: 100px;
  height: 34px;
}
#header .bi-list {
  color: #222222;
}
#header .nav-link {
  padding-right: 25px;
  color: #000;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
#header .nav-link.active {
  color: #0d28a6;
}
#header .nav-link:hover {
  color: #0d28a6;
  font-weight: 700;
}
#header .btn {
  background: #5cb85f;
  border-color: #5cb85f;
  width: 81px;
  height: 36px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
#header .offcanvas {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 18px;
}
#header .offcanvas-body {
  justify-content: flex-end;
}
#header .navbar-toggler{
  margin-right: 20px;
}
#header .text{
  text-decoration: none;
}
#header .text-brand {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}