#whyus {
  height: 382px;
}
#whyus .container {
  padding-top: 122px;
  padding-right: 0px;
  padding-left: 0px;
}
#whyus  h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
#whyus p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
#whyus .itemContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#whyus .item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: static;
  width: 268px;
  height: 196px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
}
#whyus .icon {
  width: 32px;
  height: 32px;
}
#whyus h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0px;
}
#whyus .pItem {
  width: 220px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}